/******************************************************************************
 * Content
 ******************************************************************************/

html {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-family: $base-font-family;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

.container[role="main"] {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
}

.container[role="main"] > .post,
.post.distill {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.about-page {
  display: flex;
  flex-direction: column;
}

.about-page {
  flex: 1 0 auto;
}

.about-page .about-social {
  margin-top: 1.5rem;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
